.Person {
	width: 60%;
	margin: 16px auto;
	border: 2px solid grey;
	box-shadow: 0 3px 7px #ccc;
	padding: 16px;
	text-align: center;
	background: lightgrey;
	cursor: cell;
	display: flex;
	flex-direction: column;
	max-height: 200px;
}


@media (min-width: 500px){
	.Person{
		max-width: 700px;
	}
}
