
.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.bold {
  font-weight: bold;
}

.container{
	display: flex;
}

.loginButton {
	border: 2px solid black;
	border-radius: 15px;
	padding: 16px;
	margin: auto;
	background-color: blue;
	font: inherit;
	color: white;
	cursor: pointer;
}

.loginButton:hover {
	background-color: lightblue;
	color: black;
}

.logoutButton {
	border: 2px solid black;
	border-radius: 15px;
	padding: 16px;
	margin: auto;
	background-color: gray;
	font: inherit;
	color: white;
	cursor: pointer;
}

.logoutButton:hover {
	background-color: lightgrey;
	color: black;
}

.Button {
	border: 1px solid black;
	padding: 16px;
	background-color: green;
	font: inherit;
	color: white;
	cursor: pointer;
}

.Button:hover {
	background-color: lightgreen;
	color: black;
}

.Button.Red {
	background-color: red;
}

.Button.Red:hover {
	background-color: salmon;
	color: black;
}
